* {
  margin: 0;
  padding: 0;
}

.free-palestine-banner {
  width: 100%;
  background-color: #000;
  text-align: center;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  user-select: none;
  cursor: pointer;
  font-family: monospace;
}

.free-palestine-banner p {
  margin: 0;
  padding: 5px;
  color: #fff;
  font-size: 16px;
}

.free-palestine-flag-colors {
  display: flex;
}

.free-palestine-flag-colors span {
  flex: 1;
  height: 5px;
}

.free-palestine-flag-colors .free-palestine-c1 {
  background-color: #e4312b;
}

.free-palestine-flag-colors .free-palestine-c2 {
  background-color: #149954;
}

.free-palestine-flag-colors .free-palestine-c3 {
  background-color: #ffffff;
}

span#watermelon {
  position: absolute;
  top: 5px;
  left: 0px;
  font-size: 40px;
}
